
body{
    Background-color:#669D9D;
}
#pokertable{
    display: block;
    margin: 10 auto;
    position:relative;
    top: 30px;
    text-align:center;
    border-style:solid;
    border-width:5px;
    border-color:#6B7575;
    border-radius:30px;
    background-color:#3D5C00;
}
