
#pokertable{
    display: block;
    margin: 0 auto;
    position:relative;
    top: 30px;
    text-align:center;
    border-color:black;
    border-width:5px;
    border-radius:40px;
    background-color:#3D5C00;
}
