<html>
  <head>
    {%block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.createjs.com/easeljs-0.8.0.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     {%endblock%}
  </head>
  <body onload="init();">
    {%block body%}

      <canvas id="pokertable" >
      </canvas>
      
      <script type="text/javascript" src="{{ url_for('static', filename='js/androidtable.js') }}"></script>




    <div class="container">
      <div class="jumbotron">
	<h1>My First Bootstrap Page</h1>
	<p>Resize this responsive page to see the effect!</p> 
      </div>
      <div class="row">
	<div class="col-sm-4">
	  <h3>Column 1</h3>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
	  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
	</div>
	<div class="col-sm-4">
	  <h3>Column 2</h3>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
	  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
	</div>
	<div class="col-sm-4">
	  <h3>Column 3</h3>        
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
	  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
	</div>
      </div>
    </div>

     {%endblock%}
  </body>
</html>
