<html>
  <head>
    {%block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.createjs.com/easeljs-0.8.0.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     {%endblock%}
  </head>
  <body onload="init();">
    {%block body%}

      <canvas id="pokertable" >
      </canvas>
      
      <script type="text/javascript" src="{{ url_for('static', filename='js/androidtable.js') }}"></script>

    <div class="container">
      <div class="jumbotron">
	<h1>Heads-Up Limit Holdem!</h1>
	<p>This is a heads up game that you can never win. Theoretically proved. Give up and go home man.</p> 
      </div>
      <div class="row">
	<div class="col-sm-4">
	  <h3>Theory</h3>
	  <p>Well if you want to know more you can to to the web site of:</p>
	  <p>Computer Poker Research Group.</p>
	</div>
	<div class="col-sm-4">
	  <h3>Practices</h3>
	  <p>If you want to learn more about how this system is built and why it is cool, there is also source code in <a href="https://github.com/tansey/pycfr">here</a> and <a href="https://github.com/rggibson/open-pure-cfr">here</a>.</p>
	  
	</div>
	<div class="col-sm-4">
	  <h3>Breakthrough</h3>        
	  <p>This here is the AI called cepheus.</p>
	  <p>Simple AI that you can never beat.</p>
	</div>
      </div>
    </div>

     {%endblock%}
  </body>
</html>
